In [ ]:
import pandas as pd
import numpy as np

players = pd.read_csv('nfl-big-data-bowl-2021/players.csv')
games = pd.read_csv('nfl-big-data-bowl-2021/games.csv')
plays = pd.read_csv('nfl-big-data-bowl-2021/plays.csv')

In [108]:
# Count number of games in a week
def num_games(games):
    return games['gameId'].nunique()

# Count number of plays in a week
def num_plays(plays):
    return plays[['gameId','playId']].nunique()

In [2]:
players.head()

,nflId,height,weight,birthDate,collegeName,position,displayName
0,2539334,72,190,1990-09-10,Washington,CB,Desmond Trufant
1,2539653,70,186,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2,2543850,69,186,1991-12-18,Purdue,SS,Ricardo Allen
3,2555162,73,227,1994-11-04,Louisiana State,MLB,Deion Jones
4,2555255,75,232,1993-07-01,Minnesota,OLB,De'Vondre Campbell

In [3]:
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [4]:
plays.loc[0]

gameId                                                           2018090600
playId                                                                   75
playDescription           (15:00) M.Ryan pass short right to J.Jones pus...
quarter                                                                   1
down                                                                      1
yardsToGo                                                                15
possessionTeam                                                          ATL
playType                                                     play_type_pass
yardlineSide                                                            ATL
yardlineNumber                                                           20
offenseFormation                                                     I_FORM
personnelO                                                 2 RB, 1 TE, 2 WR
defendersInTheBox                                                         7
numberOfPassRushers                                                       4
personnelD                                                 4 DL, 2 LB, 5 DB
typeDropback                                                    TRADITIONAL
preSnapVisitorScore                                                       0
preSnapHomeScore                                                          0
gameClock                                                          15:00:00
absoluteYardlineNumber                                                   90
penaltyCodes                                                            NaN
penaltyJerseyNumbers                                                    NaN
passResult                                                                C
offensePlayResult                                                        10
playResult                                                               10
epa                                                                0.261827
isDefensivePI                                                         False
Name: 0, dtype: object

## Exploring the data

In [111]:
print('Number of games in 2018 season:', num_games(games))
print('Number of plays in 2018 season:', num_plays(plays))

print('\n\nNumber of plays per week:')
print(num_plays(plays.merge(games, on='gameId').groupby('week')))

print('\n\nNumber of games per week')
print(num_games(games.groupby('week')))

print('\n\nNumber of games per team')
print(num_games(games.groupby('homeTeamAbbr')) + num_games(games.groupby('visitorTeamAbbr')))

Number of games in 2018 season: 253
Number of plays in 2018 season: gameId     253
playId    4592
dtype: int64


Number of plays per week:
      gameId  playId
week
1         13     928
2         16    1120
3         16    1079
4         15    1120
5         15    1077
6         15     990
7         14     936
8         14     943
9         13     896
10        14     902
11        13     871
12        15     962
13        16    1072
14        16    1076
15        16    1041
16        16    1068
17        16     981


Number of games per week
week
1     13
2     16
3     16
4     15
5     15
6     15
7     14
8     14
9     13
10    14
11    13
12    15
13    16
14    16
15    16
16    16
17    16
Name: gameId, dtype: int64


Number of games per team
homeTeamAbbr
ARI    16
ATL    16
BAL    16
BUF    16
CAR    16
CHI    16
CIN    16
CLE    16
DAL    16
DEN    15
DET    16
GB     16
HOU    16
IND    16
JAX    16
KC     15
LA     16
LAC    15
MIA    16
MIN    15
NE     16
NO     16
NYG    16
NYJ    16
OAK    16
PHI    16
PIT    16
SEA    15
SF     15
TB     16
TEN    16
WAS    16
Name: gameId, dtype: int64

## Week CSVs

In [8]:
# Concat all week csv files
import glob
import os
os.chdir("/Users/DRNPRO/Documents/GitHub/APM-Term-Project/nfl-big-data-bowl-2021/tracking")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
weeks = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [9]:
weeks.shape

(18309388, 19)

In [10]:
#weeks.drop_duplicates().shape

In [11]:
#weeks = weeks.drop_duplicates()

In [12]:
weeks.columns

Index(['time', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event', 'nflId',
       'displayName', 'jerseyNumber', 'position', 'frameId', 'team', 'gameId',
       'playId', 'playDirection', 'route'],
      dtype='object')

In [13]:
weeks.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH

In [14]:
weeks_merged = weeks.merge(games, on='gameId')

In [15]:
weeks_merged.head()

,time,x,y,s,a,dis,o,dir,event,nflId,...,team,gameId,playId,playDirection,route,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,week
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,...,away,2018090600,75,left,NaN,09/06/2018,20:20:00,PHI,ATL,1
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,...,home,2018090600,75,left,NaN,09/06/2018,20:20:00,PHI,ATL,1
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,...,away,2018090600,75,left,HITCH,09/06/2018,20:20:00,PHI,ATL,1
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,...,home,2018090600,75,left,NaN,09/06/2018,20:20:00,PHI,ATL,1
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,...,away,2018090600,75,left,HITCH,09/06/2018,20:20:00,PHI,ATL,1

In [16]:
weeks_merged.columns

Index(['time', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event', 'nflId',
       'displayName', 'jerseyNumber', 'position', 'frameId', 'team', 'gameId',
       'playId', 'playDirection', 'route', 'gameDate', 'gameTimeEastern',
       'homeTeamAbbr', 'visitorTeamAbbr', 'week'],
      dtype='object')

In [17]:
weeks_merged = weeks_merged.merge(plays, on=['gameId','playId'])
weeks_merged.head()

,time,x,y,s,a,dis,o,dir,event,nflId,...,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,...,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False

In [18]:
weeks_merged.shape

(18309388, 49)

In [19]:
# add homeTeamFlag dummy variable
weeks_merged['homeTeamFlag'] = np.where(weeks_merged['team']== 'home', 1, 0)
# add team column 
weeks_merged['teamAbbr'] = np.where(weeks_merged['homeTeamFlag']== 1, \
                                    weeks_merged['homeTeamAbbr'], weeks_merged['visitorTeamAbbr'])

In [20]:
position_dict = {'QB':'QB','SS':'DB', 'WR':'WR', 'FS':'DB', 'RB':'RB', 'MLB':'LB', 'CB':'DB', 'TE':'TE', \
                 'LB':'LB', 'FB':'RB', 'OLB':'LB','ILB':'LB','DB':'DB','HB':'RB','DL':'DL','NT':'DL', 'S':'DB', \
                'DE':'DL','P':'P','LS':'LS','K':'K', 'DT':'DL'}

In [21]:
# Mapping the dictionary keys to positionGroup
weeks_merged['positionGroup'] = weeks_merged['position'].map(position_dict) 
weeks_merged.head()

,time,x,y,s,a,dis,o,dir,event,nflId,...,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,homeTeamFlag,teamAbbr,positionGroup
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,QB
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,...,NaN,NaN,C,10,10,0.261827,False,1,PHI,DB
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,WR
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,...,NaN,NaN,C,10,10,0.261827,False,1,PHI,DB
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,WR

In [22]:
teams = list(games.homeTeamAbbr.unique())
print('Team identifier:')
print(teams)

Team identifier:
['PHI', 'CLE', 'IND', 'MIA', 'BAL', 'NE', 'NYG', 'NO', 'ARI', 'CAR', 'GB', 'DET', 'OAK', 'CIN', 'NYJ', 'BUF', 'ATL', 'PIT', 'WAS', 'TEN', 'TB', 'SF', 'LA', 'DEN', 'JAX', 'DAL', 'CHI', 'HOU', 'KC', 'MIN', 'SEA', 'LAC']

In [23]:
# For each team, export a csv that contains all data for which that team is on offense
os.chdir("/Users/DRNPRO/Documents/GitHub/APM-Term-Project/nfl-big-data-bowl-2021/team_plays")
for team in teams:=
    df = weeks_merged[weeks_merged['possessionTeam']==team]
    df.to_csv(team+'_plays.csv')

### Example: Baltimore
BAL_plays contains all game, play, and tracking data for which Baltimore is on offense and it is a passing play

In [24]:
BAL_plays=pd.read_csv('BAL_plays.csv')
BAL_plays = BAL_plays.drop(columns='Unnamed: 0')
BAL_plays

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,time,x,y,s,a,dis,o,dir,event,nflId,...,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,homeTeamFlag,teamAbbr,positionGroup
0,2018-09-09T17:04:13.200Z,28.43,29.96,0.01,0.71,0.00,90.27,300.24,None,382.0,...,NaN,NaN,C,25,25,1.741184,False,1,BAL,QB
1,2018-09-09T17:04:13.200Z,27.89,18.39,0.17,0.12,0.01,84.90,88.70,None,71269.0,...,NaN,NaN,C,25,25,1.741184,False,1,BAL,WR
2,2018-09-09T17:04:13.200Z,30.60,36.02,0.19,0.19,0.02,234.16,308.09,None,2506268.0,...,NaN,NaN,C,25,25,1.741184,False,0,BUF,LB
3,2018-09-09T17:04:13.200Z,42.25,33.80,0.61,0.66,0.07,261.97,345.89,None,2539240.0,...,NaN,NaN,C,25,25,1.741184,False,0,BUF,DB
4,2018-09-09T17:04:13.200Z,34.26,38.59,0.27,0.72,0.03,239.82,92.52,None,2539290.0,...,NaN,NaN,C,25,25,1.741184,False,0,BUF,DB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577006,2018-11-04T21:07:45.799Z,44.15,6.78,4.32,1.89,0.44,210.80,208.92,None,2555386.0,...,IFP,BAL 13,C,-3,-3,-0.051236,False,0,PIT,DB
577007,2018-11-04T21:07:45.799Z,36.89,2.85,2.74,2.52,0.29,266.59,273.74,None,2556559.0,...,IFP,BAL 13,C,-3,-3,-0.051236,False,0,PIT,DB
577008,2018-11-04T21:07:45.799Z,36.49,0.18,3.16,3.34,0.32,240.83,218.40,None,2558064.0,...,IFP,BAL 13,C,-3,-3,-0.051236,False,0,PIT,LB
577009,2018-11-04T21:07:45.799Z,70.76,8.34,0.01,0.16,0.00,288.12,192.81,None,2560712.0,...,IFP,BAL 13,C,-3,-3,-0.051236,False,0,PIT,DB
577010,2018-11-04T21:07:45.799Z,34.07,-0.48,4.68,2.49,0.47,NaN,NaN,None,NaN,...,IFP,BAL 13,C,-3,-3,-0.051236,False,0,PIT,NaN

In [29]:
BAL_plays.shape

(577011, 52)

In [37]:
BAL_plays.columns

Index(['time', 'x', 'y', 's', 'a', 'dis', 'o', 'dir', 'event', 'nflId',
       'displayName', 'jerseyNumber', 'position', 'frameId', 'team', 'gameId',
       'playId', 'playDirection', 'route', 'gameDate', 'gameTimeEastern',
       'homeTeamAbbr', 'visitorTeamAbbr', 'week', 'playDescription', 'quarter',
       'down', 'yardsToGo', 'possessionTeam', 'playType', 'yardlineSide',
       'yardlineNumber', 'offenseFormation', 'personnelO', 'defendersInTheBox',
       'numberOfPassRushers', 'personnelD', 'typeDropback',
       'preSnapVisitorScore', 'preSnapHomeScore', 'gameClock',
       'absoluteYardlineNumber', 'penaltyCodes', 'penaltyJerseyNumbers',
       'passResult', 'offensePlayResult', 'playResult', 'epa', 'isDefensivePI',
       'homeTeamFlag', 'teamAbbr', 'positionGroup'],
      dtype='object')

In [35]:
num_plays(BAL_plays)

577

In [36]:
MIA_plays=pd.read_csv('MIA_plays.csv')

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
MIA_plays[MIA_plays.visitorTeamAbbr=='NE'].sort_values(by='time').iloc[-1]

Unnamed: 0                                                         12448830
time                                               2018-12-09T21:08:51.799Z
x                                                                      9.23
y                                                                     52.97
s                                                                         9
a                                                                      2.89
dis                                                                    0.83
o                                                                       NaN
dir                                                                     NaN
event                                                                  None
nflId                                                                   NaN
displayName                                                        Football
jerseyNumber                                                            NaN
position                                                                NaN
frameId                                                                 180
team                                                               football
gameId                                                           2018120906
playId                                                                 4172
playDirection                                                          left
route                                                                   NaN
gameDate                                                         12/09/2018
gameTimeEastern                                                    13:00:00
homeTeamAbbr                                                            MIA
visitorTeamAbbr                                                          NE
week                                                                     14
playDescription           (:07) (Shotgun) R.Tannehill pass short right t...
quarter                                                                   4
down                                                                      1
yardsToGo                                                                10
possessionTeam                                                          MIA
playType                                                     play_type_pass
yardlineSide                                                            MIA
yardlineNumber                                                           31
offenseFormation                                                    SHOTGUN
personnelO                                                 1 RB, 1 TE, 3 WR
defendersInTheBox                                                         4
numberOfPassRushers                                                       4
personnelD                                           3 DL, 1 LB, 6 DB, 1 TE
typeDropback                                                    TRADITIONAL
preSnapVisitorScore                                                      33
preSnapHomeScore                                                         28
gameClock                                                          00:07:00
absoluteYardlineNumber                                                   79
penaltyCodes                                                            NaN
penaltyJerseyNumbers                                                    NaN
passResult                                                                C
offensePlayResult                                                        69
playResult                                                               69
epa                                                                 5.98714
isDefensivePI                                                         False
homeTeamFlag                                                              0
teamAbbr                                                                 NE
positionGroup                                                           NaN
Name: 348234, dtype: object

In [45]:
MIA_plays.event.value_counts()

None                         465451
ball_snap                      7844
pass_forward                   6894
pass_arrived                   5635
pass_outcome_caught            4270
tackle                         3270
first_contact                  2445
pass_outcome_incomplete        2384
play_action                    1136
out_of_bounds                   962
qb_sack                         744
line_set                        379
touchdown                       303
pass_outcome_interception       223
man_in_motion                   216
pass_tipped                     204
pass_outcome_touchdown          121
shift                           106
handoff                         103
qb_strip_sack                    72
pass_shovel                      60
fumble_defense_recovered         56
lateral                          44
qb_spike                         29
fumble                           28
pass_lateral                     28
fumble_offense_recovered         14
Name: event, dtype: int64

### DEFENDER ANALYSIS

In [112]:
cb_wr = weeks_merged[(weeks_merged.position == 'WR') | (weeks_merged.position == 'CB')]

In [113]:
cb_wr = cb_wr[(cb_wr.event == 'pass_forward') | (cb_wr.event == 'pass_arrived')]

In [114]:
cb_wr.to_csv('cb_wr.csv')

In [115]:
cb_wr

,time,x,y,s,a,dis,o,dir,event,nflId,...,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,homeTeamFlag,teamAbbr,positionGroup
492,2018-09-07T01:07:18.099Z,80.69,44.91,3.11,6.67,0.34,155.11,297.88,pass_forward,2495454.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,WR
494,2018-09-07T01:07:18.099Z,82.65,34.56,6.35,1.21,0.64,262.06,272.78,pass_forward,2533040.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,WR
498,2018-09-07T01:07:18.099Z,79.51,20.00,2.99,0.69,0.30,78.25,259.75,pass_forward,2552689.0,...,NaN,NaN,C,10,10,0.261827,False,1,PHI,DB
499,2018-09-07T01:07:18.099Z,76.53,44.93,4.68,2.18,0.47,182.14,277.48,pass_forward,2555383.0,...,NaN,NaN,C,10,10,0.261827,False,1,PHI,DB
646,2018-09-07T01:07:19.200Z,81.11,47.87,4.23,1.63,0.42,53.31,22.58,pass_arrived,2495454.0,...,NaN,NaN,C,10,10,0.261827,False,0,ATL,WR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18308881,2018-11-06T04:04:27.000Z,2.74,16.78,5.25,2.20,0.53,138.43,170.62,pass_forward,2540162.0,...,NaN,NaN,I,0,0,-3.715723,False,0,TEN,DB
18308882,2018-11-06T04:04:27.000Z,4.76,29.49,3.64,3.36,0.38,73.02,11.33,pass_forward,2550353.0,...,NaN,NaN,I,0,0,-3.715723,False,1,DAL,WR
18308883,2018-11-06T04:04:27.000Z,5.45,27.19,5.40,0.73,0.54,79.31,6.69,pass_forward,2550613.0,...,NaN,NaN,I,0,0,-3.715723,False,0,TEN,DB
18308884,2018-11-06T04:04:27.000Z,2.74,42.29,3.10,0.61,0.32,159.15,187.89,pass_forward,2552487.0,...,NaN,NaN,I,0,0,-3.715723,False,1,DAL,WR
18308891,2018-11-06T04:04:27.000Z,3.66,40.49,2.92,1.01,0.28,174.57,157.34,pass_forward,2558065.0,...,NaN,NaN,I,0,0,-3.715723,False,0,TEN,DB

In [116]:
cb_wr.iloc[0]

time                                               2018-09-07T01:07:18.099Z
x                                                                     80.69
y                                                                     44.91
s                                                                      3.11
a                                                                      6.67
dis                                                                    0.34
o                                                                    155.11
dir                                                                  297.88
event                                                          pass_forward
nflId                                                           2.49545e+06
displayName                                                     Julio Jones
jerseyNumber                                                             11
position                                                                 WR
frameId                                                                  36
team                                                                   away
gameId                                                           2018090600
playId                                                                   75
playDirection                                                          left
route                                                                 HITCH
gameDate                                                         09/06/2018
gameTimeEastern                                                    20:20:00
homeTeamAbbr                                                            PHI
visitorTeamAbbr                                                         ATL
week                                                                      1
playDescription           (15:00) M.Ryan pass short right to J.Jones pus...
quarter                                                                   1
down                                                                      1
yardsToGo                                                                15
possessionTeam                                                          ATL
playType                                                     play_type_pass
yardlineSide                                                            ATL
yardlineNumber                                                           20
offenseFormation                                                     I_FORM
personnelO                                                 2 RB, 1 TE, 2 WR
defendersInTheBox                                                         7
numberOfPassRushers                                                       4
personnelD                                                 4 DL, 2 LB, 5 DB
typeDropback                                                    TRADITIONAL
preSnapVisitorScore                                                       0
preSnapHomeScore                                                          0
gameClock                                                          15:00:00
absoluteYardlineNumber                                                   90
penaltyCodes                                                            NaN
penaltyJerseyNumbers                                                    NaN
passResult                                                                C
offensePlayResult                                                        10
playResult                                                               10
epa                                                                0.261827
isDefensivePI                                                         False
homeTeamFlag                                                              0
teamAbbr                                                                ATL
positionGroup                                                            WR
Name: 492, dtype: object

In [117]:
cb_wr[['gameId','playId']].nunique()

gameId     253
playId    4536
dtype: int64